/* body{
    background-color: rgba(0, 0, 0, 0.774);
} */

/* .container{
    width: 100vw;
    height: 100vh;
    display: flex;
} */
/* .container > div{
    width: 100vw;
    height: auto;
} */
/* .vertical_container2{
    width: 70vw;
} */
/* .vertical_container3{
    margin-top: 0vh;
} */
#editor{
    width: 42vw;
    height: calc(100vh - 45vh);
    margin-top: -89.9vh;
    float: right;
}
#file_browser{
    width: 15vw;
    height: calc(100vh - 45vh);
    margin-left: 40.8vw;
    margin-top: -96vh;
    overflow: auto;
    float: center;
    background-color: rgb(231, 127, 226);
}
#mondai{
    width:40vw;
    height: calc(100vh - 10vh);
    overflow: auto;
    background-color: rgb(127, 127, 231);
}
#terminal{
    width: 58.2vw;
    height: calc(100vh - 67vh);
    margin-left: 30vw;
    margin-top: 1vw;
    float: right;
    background-color: rgb(125, 235, 183);
}
